<router-outlet></router-outlet>
<div *ngIf="power === 100">
    Esto es un div
</div>

<input type="text" [(ngModel)]="power">
{{ power | exponential }}

<div [ngSwitch]="title">
    <p *ngSwitchCase="'Nicolas'">Este es Nicolas</p>
    <p *ngSwitchCase="'Julian'">Este es Julian</p>
    <p *ngSwitchCase="'Pedro'">Este es Pedro</p>
    <p *ngSwitchDefault>No hay match</p>
</div>

<p><button (click)="addName()">Agregar nombre</button></p>
<div *ngIf="agregarName">
    <input type="text" [(ngModel)]="nombre"><br>
    <div *ngIf="mensajeError!==''">{{mensajeError}}</div><br>
    <button (click)="saveName()" *ngIf="agregarName">Guardar nombre</button>
</div>

<ul>
    <li *ngFor="let name of names; index as i">
        {{i}} {{ name }}
        <button (click)="deleteName(i)">Borrar ítem</button>
    </li>
</ul>