<h3 appHighlight>{{ producto.title | uppercase }}</h3>
<img [src]="producto.image" [alt]="producto.title"/>
<p>{{ producto.description | slice:0:10 }}</p>
<strong>{{ producto.price | currency }}</strong>
<h3>Soy un componente de Producto</h3>
<p>{{ today | date:'medium' }}</p>
<button (click)="addCart()">Añadir al carrito</button>
<a [routerLink]="['/products',producto.id]">Ver detalle</a>